
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@100&family=Space+Mono&display=swap');



body {
    background-color: paleturquoise;
}
header{font-style:italic;
       font-family:Arial; 
       border:solid;
       background-color:white;
       margin:auto;
}



nav a {
    font-size:large;
    font-weight: bold;
    color: black;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }



nav li:hover {
    background-color: antiquewhite;
}


nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

body {
 
    background-image: url(../images/classroom.jpg);
    background-size: cover;
    margin: 0;
}


#headerOverlay {
    background-image: url(../images/apple.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% center;
    padding: 2em;
}

#headerFavicons {
    margin-bottom:auto;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position:right;
    float:right;
}

#footerFavicons {
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right;
    float: right;
}


main{
    background-color: white;
    margin: auto;
    text-align: left;
    font-family: 'Californian FB'
    
    
}

#aboutUsHeaderText{
    text-decoration: underline;
}

#whyChooseUs {
    font-size:xx-large;
    font-weight:bolder;
    color: black;
    text-align:center;
    padding-right: 6em;
    
}


#whyChooseRightText{

    text-align: center;
    padding-right: 2em;
}

#whyChooseLeftText{

    text-align: left;
    padding-left: 2em;
}

#whyChooseUsImgLeft {
    margin: auto;
    width: 20%;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#whyChooseUsImgRight {
    margin: auto;
    width: 20%;
    float: right;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

header h1, header p {
    margin: 14px 0 14px 150px;
}

header h1 {

    letter-spacing: 0.1em;
    color: #000000
}

header {
    border-radius: 5px;
}

/*Create a gallery layout for images.html*/
div.galleryItem {
    margin: 5px;
    
    display:inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid black;
    }

    div.galleryItem img {
        width: 30%;
        height: auto;
    }

    div.galleryItem hover {
        background-color: black;
    }

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

#aboutUsPic {
    margin: auto;
    width: 10%;
    float: left;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.mainWrapper {
    padding: 1%;
}

footer {

    border: solid;
    border-color:black;
    background-color:aliceblue;


}

#teamAside {
    width: 25%;
    float: right;

}

aside {
    display: block;
    border:double;
    background-color: antiquewhite;
}

#contactPage {
    text-decoration:underline;
    text-align:center;

}

#contactPageMain{
    margin-left: 500px;
    margin-right: 500px;
}

#indexMain{
    margin-left: 100px;
    margin-right: 100px;
}