
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



body {
    background-color: paleturquoise;
}
header{font-style:italic;
       font-family:Arial; 
       border:solid;
       background-color:white;
       margin:auto;
}



nav a {
    font-size:large;
    font-weight: bold;
    color: black;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }



nav li:hover {
    background-color: antiquewhite;
}


nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

body {
 
    background-image: url(../images/classroom.jpg);
    background-size: cover;
    margin: 0;
}


#headerOverlay {
    background-image: url(../images/apple.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% center;
    padding: 2em;
}

#headerFavicons {
    margin-bottom:auto;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position:right;
    float:right;
}

#footerFavicons {
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right;
    float: right;
    padding-right: 2em;
}


main {
    background-color: white;
    margin: auto;
    text-align: left;
    
    margin-left: 100px;
    margin-right: 100px;
}

#aboutUsHeaderText{
    text-decoration: underline;
}

#whyChooseUs {
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding-right: 6em;
 
}


#whyChooseRightText{

    text-align: center;
    padding-right: 2em;
    
}

#whyChooseLeftText{

    text-align: left;
    padding-left: 2em;
}

#whyChooseUsImgLeft {
    margin: auto;
    width: 20%;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#whyChooseUsImgRightPicture {
    float: right;
    height: 200px;
    margin-right: 400px;
}

header h1, header p {
    margin: 14px 0 14px 150px;
}

header h1 {

    letter-spacing: 0.1em;
    color: #000000
}

header {
    border-radius: 5px;
}


div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lightsalmon;
    }

    div.galleryItem img {
        width: 30%;
        height: auto;
    }

    div.galleryItem a:hover {
        background-color: lightsalmon;
    }

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}


#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

#aboutUsPic {
    margin: auto;
    width: 10%;
    float: left;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.mainWrapper {
    padding: 1%;
}

footer {

    border: solid;
    border-color:black;
    background-color:white;
    height: 100px;


}

#teamAside {
    width: 25%;
    float: right;
    max-height: 100%;
    text-align: left;

}

aside {
    display: block;
    border:double;
    background-color: antiquewhite;
    height: 100%;
}

#contactPage {
    text-decoration: underline;
    text-align: center;
    font-family: 'Roboto';
}

#contactPageMain{
    margin-left: 100px;
    margin-right: 100px;
}

#indexMain{
    margin-left: 100px;
    margin-right: 100px;
}

#whyChooseUsFirstRow {
    display: block;
}

#whyChooseUsImgLeftPicture{
    float: left;
    height: 200px;
    margin-left: 400px;
}

#whyChooseUsRightTextBox{
    padding-right: 2em;
    padding-left: 2em;
    float: left;
}

#whyChooseUSLeftTextBox{
    padding-left: 2em;
    padding-right: 2em;
    float: right;
}

#classSubjectsHeading {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

div.description {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse; /*Avoids dublicate adjancent borders inside the table.*/
}

table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th, {
    padding: .3em;
}

thead {
    background-color: #96F3FA;
}

tfoot {
    background-color: teal;
}

    tfoot tr, tfoot td {
        border: 0;
    }

tbody tr:nth-child(even) {
    background-color: lightsalmon;
}

#teamSubjectHeading {
    text-align: center;
    font-size: 50px;
}

#whyChooseUsClasses {
    text-align: center;
    font-size: 30px;
    float: left;
    top: 8px;
    padding-left: 2em;
}

#whyChooseUsResources {
    text-align: center;
    font-size: 30px;
    float: right;
    top: 8px;
    padding-right: 2em;
}

#teamlist {
    float: left;
}